.flex-con{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(152, 160, 193);

    .home{
        background-color:rgba(246, 249, 249, 0.9);
        
        .login{

            font-weight: 500;
            font-size: large;
            margin-left: 125px;
        }
        
        .userinputs {
            display: flex;
            margin: 30px;
            flex-direction: column;
        }

    }

}