<!-- <router-outlet></router-outlet> -->
<div class="flex-con">
    <div class="home">
        <div class="login">
            <p>Login</p> 
        </div>  
        <form [formGroup]="form" (ngSubmit)="login()" > 
            <div class="userinputs">
                
            
                <div class="username">
                    <mat-form-field appearance="fill">
                        <mat-label>Username</mat-label>
                        <input matInput name="username" id="username" formControlName="username">
                    </mat-form-field>
                </div>

                <div class="password">
                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" name="password" id="password" formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>        
                </div>

                <button type='submit'  id='submit' name="submit" mat-flat-button color="primary" routerLink="">Login</button>
                   
            </div> 
        </form>
   
</div> 

