<label> Reason: </label><br>         
<textarea id="reason" value="reason" name="reason"></textarea> <br><br>

<label>Date Of Leave Required:</label> <br>
<input type="date" id="dateOfLeaveRequired" name="dateOfLeaveRequired">  <br>  <br> 

<label>NumberOf Days Of Leave Required:</label><br>
<input type="text" name="numberOfDaysOfLeaveRequired" id="numberOfDaysOfLeaveRequired"/> <br>  <br>

<label>Time For Halfday :</label> <br>
<input type="radio"  name="timeForHalfday" value="morning">Morning
<input type="radio"  name="timeForHalfday" value="evening">Evening   
<br><br>  

<label>Leave Type:</label> <br>    
<select id="leaveType" name="leaveType">    
<option  value="casual">casual</option>    
<option value="medical">medical</option>
<option value="halfday">halfday</option> 
</select> <br><br>    

<button type='submit' id='submitButton'>Submit</button>
