.main{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(152, 160, 193);
}
.form{
    height: 300px;
    width: 300px;
    background-color: rgba(246, 249, 249, 0.9);

    .field{
        margin: 10px;
    
    }
}
