<div class="dashboard">
    <div class="button">
        <button type="button" id="mrkButton" class="mrkButton" routerLink="/markattendance" mat-raised-button color="primary" >Mark Attendance</button><br> <br>
        <button type="button" id="reqLeaveButton" class="reqLeaveButton" routerLink="/reqleave" mat-raised-button color="primary" >Requst Leave</button><br> <br>
        <button type="button" id="appLeaveButton" class="appLeaveButton" routerLink="/appleave" mat-raised-button color="primary" >Approve leave</button><br><br> <br>
        <button type="button" id="logout" class="logout"(click)="logout()"routerLink="/login" mat-raised-button color="accent">Logout</button>
    </div>
</div>