<p>mark your attendance</p>
<form [formGroup]="form" (ngSubmit)="mark()"> 

    <label> Status:</label> <br>
    <input type="text" name="status" value="status" formControlName="status">
    <br><br>  

    <label> Comment: </label><br>         
    <textarea id="comment" value="comment" name="comment" formControlName="comment"></textarea> <br><br>

    <button type='submit' id='submit' name="submit" mat-stroked-button color="primary" >Mark</button>
    <button type="button" routerLink="" mat-stroked-button color="accent">Exit</button>

</form>

