<div class="flex-con">
    <label>Employee ID:</label><br>
    <input type="text" name="empId" id="empId"/> <br>  <br>

    <label>Date:</label> <br>
    <input type="date" id="date" name="date">  <br>  <br> 

    <label>Approval :</label> <br>
    <label><input type="radio" id="approval" name="approval" value="accept"/>Accept</label>   
    <label><input type="radio" id="approval" name="approval" value="reject"/>Reject<label><br>       
    <br><br>  
    
    <label>Comment: </label><br>         
    <textarea id="comment" value="comment" name="comment"></textarea> <br><br>
    
    <button type='submit' id='submit' name="submit">Submit</button>
            
       
