.form{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(152, 160, 193);
   
}
.form-req{
    height: 550px;
    width: 600px;
    background-color: rgb(255, 255, 255);
    
    

}
.form-req > div{
    display: flex;
    margin: 30px;
    flex-direction: column;
    
    
}