
<mat-toolbar class="mat-elevation-z8" color="primary">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    Home
  </mat-toolbar> 
  
<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <mat-nav-list>
            <a mat-list-item [routerLink]="'/markattendance'"> Markattendance </a>
            <a mat-list-item [routerLink]="'/reqleave'"> Requstleave </a>
            <a mat-list-item [routerLink]="'/appleave'" *ngIf="empTypeId > 2"> Applyleave </a>
            <a mat-list-item [routerLink]="'/reports'" *ngIf="empTypeId > 2"> Reports </a>
            
        </mat-nav-list>
        <button type='submit'  id='submit' name="submit" mat-flat-button color="primary"  (click)="logout()" > Logout</button>
    </mat-sidenav>

    <mat-sidenav-content>
        <div style="height: 92vh">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
</mat-sidenav-container>

