
    <div class="content mat-elevation-z8">
      What Is Public Relations (PR)?
Public relations (PR) is the set of techniques and strategies related to managing how information about an individual or company is disseminated to the public, and especially the media. Its primary goals are to disseminate important company news or events, maintain a brand image, and put a positive spin on negative events to minimize their fallout. PR may occur in the form of a company press release, news conference, interviews with journalists, social media posting, or other venues.

Every individual or entity operating in the public eye faces the spread of information about them or their practices to the public. While public relations is an industry unto itself, any attempt to portray oneself in a certain way to others can be considered a form of public relations.

KEY TAKEAWAYS
Public relations (PR) refers to managing how others see and feel about a person, brand, or company. 
PR for corporations, notably publicly traded companies, focuses on maintaining a positive corporate image while handling media requests and shareholder inquiries. 
PR is especially important to defray public or investor outcry following negative news announcements.
PR is different from advertising or marketing as it’s often meant to look organic and may not necessarily try to promote a product or service.
Public relations can be used to mitigate negative events, though history has shown PR may cause problems to become worse.
Understanding Public Relations (PR)
Although not inherent in the definition, PR is often thought of as "spin," with the goal being to present the person, company, or brand in the best light possible. PR differs from advertising in that PR attempts to represent a person or brand's image in ways that will appear organic, such as generating good press from independent sources and recommending business decisions that will incur public support. Loosely defined until the mid-twentieth century, PR is one of the fastest-growing industries in the United States.

PR is essential to any company's success, especially when shares in the company are publicly traded and the value of a share depends on the public's confidence in a company or brand. In addition to handling media requests, information queries, and shareholder concerns, PR personnel are frequently responsible for crafting and maintaining the corporation's image. Occasionally, PR professionals engage in negative PR or willful attempts to discredit a rival brand or company, although such practices are not in keeping with the industry's code of ethics.


Types of Public Relations
Public relations is often divided into different agencies or departments. Each department is specifically suited to handle a specific aspect below:

Media relations is the emphasis of forging a strong relationship with public media organizations. A media relations team often works directly with external media by directly delivering them company news, providing validated content sources, and being accessible for public comment on other news stories.
Production relations is closely related to the direct operations of a company. This department supports broad marketing plans and is often related to specific, one-time endeavors such as the launch of a new product, a special campaign, or management of a major product change.
Investor relations is the oversight of the relationship between the company and its investors. This aspect of public relations handles investor events, oversees the communication of the release of financial reports, and handles the complaints of investors.
Internal relations is the public relations branch between a company and its employees. Internal relations pertain to counseling employees, ensuring all workers are satisfied with their working conditions, and mediating issues internally to avoid public disclosure of dissatisfaction.
Government relations is the connection between a company and related governing bodies. Some public relations departments want to forge a strong relationship to provide feedback to politicians, sway decision-makers to act in specific ways, and ensure fair treatment of the company's clients.
Community relations is public relations focused on brand and reputation within a specific community. The community could be physical (i.e. a specific city) or non-physical (i.e. the dog-owner community). This branch of public relations keys in on the social niche of the community to align itself with its members.
Customer relations is the bridge that connects the company and its customers. Public relations often involves handling key relationships, conducting market research, understanding the priorities of its customers, and addressing major concerns.
Many public companies have a separate investor relations (IR) department for dealing with communications to shareholders and analysts.

Public Relations vs. Other Departments
Public relations may overlap or be confused with other similar departments. Here's an overview how PR may or may not relate to marketing, advertising, or communications.

Public Relations vs. Marketing
Marketing is sometimes more squarely focused on driving sales, promoting products or services, and ensuring financial success. Meanwhile, public relations is sometimes more focused on managing the reputation of a company or brand.

Both departments may embark on very similar types of activities. For instance, both may interact with customers to garner feedback. From a more direct marketing lens, this information is used to better understand sales trends, product demands, and ways to generate more sales. From a more direct public relations lens, this information is used to understand customer satisfaction, ensure customers are happy, and make sure any dissatisfaction is managed quickly.

Public Relations vs. Advertising
Advertising is the act of garnering public attention, often through the use of various types of media. A company may
    </div>


  
  
