<!-- <router-outlet></router-outlet> -->
<div class="flex-con">
    <div class="home">
        
        <div>
            <p id="home">Login</p> 
        </div>  
        
        <div class="userinputs">
            
            <div class="label">
                <label for="username">User Name</label><br>
                <label for="password">Password</label>
            </div>
            <div class="inputs">
                <input type="text" name="username" id="username"[(ngModel)]="username"> <br>
                <input type="password" name="password" id="password"[(ngModel)]="password">     
            </div>
        </div>

        <div>
            
            <button type="button" (click)="login()" routerLink="">Login</button>
            <router-outlet></router-outlet>
        </div>
        
    </div> 
     
   
</div>

