<div class="form">
    <div class="form-app">
        <div>
            <form [formGroup]="form" (ngSubmit)="submit()"> 
            

                <mat-form-field appearance="fill">
                    <mat-label>Employee ID</mat-label>
                    <input matInput type="text" name="empId" id="empId" formControlName="empId">
                </mat-form-field><br>  <br> 

                <mat-form-field appearance="fill">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker" id="date" name="date"formControlName="date">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> <br>   <br>  

                
                <mat-label>Approval</mat-label><br> 
                <mat-radio-group aria-labelledby="timeForHalfdaylbl" id="approval" name="approval" formControlName="approval">
                    <mat-radio-button class="timeForHalfdaybtn" id="timeForHalfdaybtn" *ngFor="let  approval of  approval" [value]=" approval.name">
                        {{approval.name}}
                    </mat-radio-button>
                </mat-radio-group> <br> <br> 

                <mat-form-field class="comment" appearance="fill">
                    <mat-label>Comment</mat-label>
                    <textarea matInput placeholder="Ex. Personal reason" id="comment" value="comment" name="comment" formControlName="comment"></textarea>
                </mat-form-field> <br><br>
                
                <button type='submit' id='submit' name="submit" mat-stroked-button color="primary"> Submit</button>
                <button type="button" routerLink="" mat-stroked-button color="accent"> Exit</button>
                
                        
            </form> 
        </div> 

    </div>

</div>