.form{
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(152, 160, 193);
   
}
.form-app{
    height: 450px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    

}
.form-app > div{
    padding-left: 20px;
    padding-top: 30px;
    
}